extends layout

block content
  .item-container.pd-m
    img(src="https://placehold.co/400x400/png")

    .info
        h1 #{item.name}
        h2.mg-tb-s #{item.price}$
        h2.mg-tb-m Sold amount : #{item.sold} pcs
        h2.mg-tb-m Amount in stock : #{item.stock} pcs

        .form
            form(action=item.url + "/update" method="GET")
                button(type="submit").submit-btn.mg-inl-m Edit

            form(action=item.url + "/delete" method="POST")
                button(type="submit").submit-btn Delete